/* navbar.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.navbar {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #1e3c72 0%, #2a5298 100%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

  .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    &:hover {
      color: #ffffff;
    }
  }

  .navbar-toggler {
    border-color: #ffffff;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .navbar-collapse {
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          color: #ffffff;
          font-size: 1.2rem;
          transition: color 0.3s ease-in-out; // adicione esta linha
          i {
            margin-right: 5px;
          }
          &:hover {
            color: #b8d8f3; // altere esta cor para a que você deseja no hover
            text-decoration: none;
          }
        }
      }
    }
  }
}

body.modal-open {
  padding-right: 0 !important;
  .navbar {
    padding-right: 15px;
  }
}
