<div class="container">
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" formControlName="name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="document">Documento</label>
      <input type="text" formControlName="documentNumber" id="document" class="form-control">
    </div>
    <!-- Adicione outros campos conforme necessário -->

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <div *ngIf="loanStatus !== ''">
    <h3>Status do Empréstimo:</h3>
    <p>{{ loanStatus }}</p>
  </div>
</div>
