<div class="container">
  <div class="mb-3">
    <label class="form-label">Nome:</label>
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Digite seu nome">
  </div>
  <div class="mb-3">
    <label class="form-label">CPF/CNPJ:</label>
    <input *ngIf="!hideCPF" type="text" class="form-control" [(ngModel)]="documentNumber" placeholder="Digite o número do seu documento">
    <input *ngIf="hideCPF" type="password" class="form-control" [(ngModel)]="documentNumber" placeholder="Digite o número do seu documento">
  </div>
  <div class="mb-3">
    <label class="form-check-label" for="hideCPF">Ocultar CPF/CNPJ:</label>
    <input type="checkbox" id="hideCPF" [(ngModel)]="hideCPF" class="form-check-input">
  </div>
  <button type="button" class="btn btn-primary" (click)="onCheckStatus()">Verificar status do empréstimo</button>
</div>
<!-- Inicio do Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusModalLabel">Status do Empréstimo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" *ngIf="loanStatusResponse">
        <p>O status do seu empréstimo é: {{ loanStatusResponse.status }}</p>
        <p>O ID do seu empréstimo é: {{ loanStatusResponse.loanId }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Modal -->
