<div class="container">
  <div class="mb-3">
    <label class="form-label">Nome:</label>
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Digite seu nome">
  </div>
  <div class="mb-3">
    <label class="form-label">CPF/CNPJ:</label>
    <input *ngIf="!hideCPF" type="text" class="form-control" [(ngModel)]="documentNumber" placeholder="Digite o número do seu documento">
    <input *ngIf="hideCPF" type="password" class="form-control" [(ngModel)]="documentNumber" placeholder="Digite o número do seu documento">
  </div>
  <div class="mb-3">
    <label class="form-check-label" for="hideCPF">Ocultar CPF/CNPJ:</label>
    <input type="checkbox" id="hideCPF" [(ngModel)]="hideCPF" class="form-check-input">
  </div>
  <button type="button" class="btn btn-primary" (click)="onCheckStatus(content)">Verificar status do empréstimo</button>
</div>

<!-- The content of the modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Status do Empréstimo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>O status do seu empréstimo é: {{ loanStatusResponse?.status }}</p>
    <p>O ID do seu empréstimo é: {{ loanStatusResponse?.loanId }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>
