<div class="container">
  <h1>Solicitação de empréstimo</h1>

  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="personType">Tipo da pessoa</label>
      <select formControlName="personType" id="personType" class="form-control">
        <option value="">Selecione o tipo da pessoa</option>
        <option value="PF">Pessoa Física</option>
        <option value="PJ">Pessoa Jurídica</option>
      </select>
    </div>

    <div class="form-group">
      <label for="document">Documento (CPF/CNPJ)</label>
      <input formControlName="document" type="text" id="document" class="form-control">
    </div>

    <div class="form-group">
      <label for="name">Nome da Pessoa/Empresa</label>
      <input formControlName="name" type="text" id="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="documentNumber">Número do Documento</label>
      <input formControlName="documentNumber" type="text" id="documentNumber" class="form-control">
    </div>

    <div class="form-group">
      <label for="activeDebt">Valor da dívida ativa atual do cliente</label>
      <input formControlName="activeDebt" type="number" id="activeDebt" class="form-control">
    </div>

    <div class="form-group">
      <label for="loanValue">Valor do empréstimo solicitado</label>
      <input formControlName="loanValue" type="number" id="loanValue" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Solicitar Empréstimo</button>
  </form>
</div>
