<form class="loan-form" (ngSubmit)="onSubmit()">
  <div>
    <label for="person-type">Tipo de pessoa:</label>
    <select id="person-type" [(ngModel)]="loanForm.personType" (change)="onPersonTypeChange()" name="personType">
      <option value="PF">Pessoa Física</option>
      <option value="PJ">Pessoa Jurídica</option>
    </select>
  </div>
  <div>
    <label for="document">Documento:</label>
    <input id="document" type="text" [(ngModel)]="loanForm.document" (change)="onDocumentChange()" name="document">
    <div *ngIf="!isDocumentValid">Documento (CPF/CNPJ) inválido!</div>
  </div>
  <div>
    <label for="name">Nome:</label>
    <input id="name" type="text" [(ngModel)]="loanForm.name" name="name">
  </div>
  <div>
    <label for="activeDebt">Dívida ativa:</label>
    <input id="activeDebt" type="number" [(ngModel)]="loanForm.activeDebt" name="activeDebt">
  </div>
  <div>
    <label for="loanValue">Valor do empréstimo:</label>
    <input id="loanValue" type="number" [(ngModel)]="loanForm.loanValue" name="loanValue">
  </div>
  <button type="submit">Enviar</button>
</form>
